/*this is for the whole page*/
body {
    background-color: rgb(78, 78, 78);
  color: white;
}
/*this is for the lists*/
li{
  text-align: center;
  list-style-position: inside;
}
/*this is to make the text for the h1*/
h1{
    text-align: left;
    margin-left: 11%;
    font-size: 30px;
    text-align: center;
    margin-top: 5%;
  }

  /* this is for the hor nav*/
 .ulvertical {
    list-style-type: none;
    margin-top: -1.5%;
    padding: 0;
    width: 9%;
    background-color: rgb(160, 159, 159);
    position: fixed;
    height: 25,5%;
    overflow: auto;
    border: 1px solid rgb(255, 255, 255);
    margin-left: -1%;
  
  }
  
  .livertical a {
    display: block;
    color:white;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid rgb(255, 255, 255);
  }
  
  .livertical a.active {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
  }
  
  .livertical a:hover:not(.active) {
    background-color: rgb(53, 52, 52);
    color: white;
  }
/* this was for the hor nav*/
  h2, h3 {
      margin-left:11%;
      padding:1px 16px;
      height:1000px;
      font-size: 20px;
      text-align: center;
      
    }

      p{
          background-color: rgb(255, 255, 255);
          color: black;
          display: block;
      }
      /* this is for the stripes*/
      hr {
        height: 5px;
        background-color: white;
        border-color: white;
        width: 150%;
      }
 /* this is for links*/
      a{
        color:rgb(255, 255, 255);
      }
      a:active {
        color: grey;
      }
        a:hover {
          color: rgb(38, 176, 255);
           /* this was for the  for links*/
        }
        img{
          display:block;
          margin-left: auto;
          margin-right: auto;
        }
        /*this is for aside menu*/
        .horizonul {
          position: fixed;
          top: 0;
          width: 101%;
          list-style-type: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
          background-color: rgb(41, 41, 41);
          border: 1px solid rgb(255, 255, 255);
          margin-left: -1%;
        }
        
        .horizonli {
          float: left;
          border-right: 1px solid rgb(255, 255, 255);
          border: 1px solid rgb(255, 255, 255);
          
        }
        
        .horizonli a {
          display: block;
          color: white;
          text-align: center;
          padding: 14px 42px;;
          text-decoration: none;
          
        }
        
        .horizonli a:hover {
          background-color: rgb(114, 113, 113);
        }
      
       /* for dashboard*/
        table{
          background:grey;
          border: 1px solid rgb(255, 255, 255);
          margin-left: 3%;
        }
        
        td{
          border: 1px solid rgb(255, 255, 255);
        }

        thead{
          background-color: grey;
          border: 1px solid rgb(255, 255, 255);
          font-size: 25px;
        }

        tbody{
          background-color: rgb(204, 201, 201);
          border: 1px solid rgb(255, 255, 255);
        }

        .passed{
          background-color: greenyellow;
        }

        .failed{
          background-color: red;
        }
        .nop{
          background-color: orange;
        }
/*this is for the progress bar*/
        .progress{
          width: 100%;
        }

        /* this is for titles*/
        .psmall{
          text-align: left;
    margin-left: 0%;
    font-size: 30px;
    text-align: center;
    margin-top: 4%;
    background-color: rgb(78, 78, 78);
    color: white;
        }

        /*this is for the blog part to make them another color*/
        .pblog{
          text-align: left;
    margin-left: 0%;
    font-size: 30px;
    text-align: center;
    margin-top: 4%;
    color: white;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
        }

        .pblog2{
          text-align: left;
    margin-left: 0%;
    font-size: 30px;
    text-align: center;
    margin-top: 4%;
    color: white;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(49, 49, 49);
        }

        .pblog3{
          text-align: left;
    margin-left: 0%;
    font-size: 30px;
    text-align: center;
    margin-top: 4%;
    color: white;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(94, 94, 94);
        }

        .pblog4{
          text-align: left;
    margin-left: 0%;
    font-size: 30px;
    text-align: center;
    margin-top: 4%;
    color: white;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(129, 129, 129);
        }

        .pblog5{
          text-align: left;
    margin-left: 0%;
    font-size: 30px;
    text-align: center;
    margin-top: 4%;
    color: white;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(179, 179, 179);
        }
/*this is to make the stripes fill the screen*/
        hr{
          margin-left: -20%;
        }
/*this is to make the table for NSBA*/
        .table2{
          margin-left: 15%;
        }
    /*this is for the feedback*/
      .pfeed{
background-color: rgb(177, 176, 176);
padding: 3%;
      }
/*this is for the list at my profile*/
      .ulprofile{
        margin-left: -5%;
        border: 1px solid rgb(255, 255, 255);
        padding: 3%;
        background-color: rgb(121, 120, 120);
        
      }