body {
    background-color: rgb(78, 78, 78);
  }

body{
  color: white;
}

li{
  text-align: center;
  list-style-position: inside;
}

h1{
    text-align: left;
    margin-left: 27%;
    font-size: 30px;
    text-align: center;
    margin-top: 4%;

  }

  /* this is for the hor nav*/
 .ulvertical {
    list-style-type: none;
    margin-top: 0%;
    padding: 0;
    width: 25%;
    background-color: grey;
    position: fixed;
    height: 100%;
    overflow: auto;
    border: 1px solid rgb(255, 255, 255);
  
  }
  
  .livertical a {
    display: block;
    color:white;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid rgb(255, 255, 255);
  }
  
  .livertical a.active {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
  }
  
  .livertical a:hover:not(.active) {
    background-color: rgb(53, 52, 52);
    color: white;
  }
/* this was for the hor nav*/
  h2, h3 {
      margin-left:26%;padding:1px 16px;height:1000px;
      font-size: 20px;
      text-align: center;
      
    }

      p{
          background-color: rgb(255, 255, 255);
          color: black;
          display: block;
      }
      /* this is for the stripes*/
      hr {
        height: 5px;
        background-color: white;
        border-color: white;
      }
 /* this is for links*/
      a{
        color:rgb(255, 255, 255);
      }
      a:active {
        color: grey;
      }
        a:hover {
          color: rgb(38, 176, 255);
           /* this was for the  for links*/
        }
        img{
          display:block;
          margin-left: auto;
          margin-right: auto;
        }
        /*test for aside menu*/
        .horizonul {
          position: fixed;
          top: 0;
          width: 100%;
          list-style-type: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
          background-color: grey;
          border: 1px solid rgb(255, 255, 255);
        }
        
        .horizonli {
          float: left;
          border-right: 1px solid rgb(255, 255, 255);
          border: 1px solid rgb(255, 255, 255);
          
        }
        
        .horizonli a {
          display: block;
          color: white;
          text-align: center;
          padding: 14px 40px;;
          text-decoration: none;
          
        }
        
        .horizonli a:hover {
          background-color: #111;
        }
      
       /* for dashboard*/
        table{
          background:grey;
          border: 1px solid rgb(255, 255, 255);
        }
        
        td{
          border: 1px solid rgb(255, 255, 255);
        }

        thead{
          background-color: grey;
          border: 1px solid rgb(255, 255, 255);
          font-size: 25px;
        }

        tbody{
          background-color: rgb(204, 201, 201);
          border: 1px solid rgb(255, 255, 255);
        }

        .passed{
          background-color: greenyellow;
        }

        .failed{
          background-color: red;
        }
        .nop{
          background-color: orange;
        }

        .progress{
          width: 100%;
        }